<html xmlns="http://www.w3.org/1999/xhtml" content="text/html;">
<head>
    <title>Login</title>
</head>
<body>
<div class="top">
    <img src="img/login.png">
    <br/>
    <form action="login" method="post">
        <label>
            Номер карты <br/>
            <input type="text" name="numberCard" value="123">
        </label>
        <br/>
        <label>
            Пин код<br/>
            <input type="password" name="pineCode" value="11111">
        </label>
        <br/><br/>
        <input type="submit" value="Ввод">
    </form>
</div>
</body>
</html>